<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-desc text-center">
                    <div class="logo wow fadeInDown">Barrier</div>
                    <ul class="socail-list list-inline">
                        <li><a href="#"><i class="fa fa-facebook wow fadeInLeft" data-wow-delay=".2s"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter wow fadeInLeft" data-wow-delay=".4s"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus wow fadeInLeft" data-wow-delay=".6s"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin wow fadeInLeft" data-wow-delay=".8s"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble wow fadeInLeft" data-wow-delay="1s"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss wow fadeInLeft" data-wow-delay="1.1s"></i></a></li>
                    </ul>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright-info m20">
                    &copy; Copyright 2020 Barrier.
                </div>
            </div>
        </div><!--/ Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
            <a href="#slider" class="page-scroll">
                <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
            </a>
        </div>
    </div><!-- container end -->
</footer>