<!-- section contact start -->
<section id="contact" class="contact parallax4">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-desc text-center">
                    <div class="header-content">
                        <h3 class="big-title">contact</h3>
                        <span>my online dairy</span>
                    </div>
                </div>
            </div>
        </div> <!-- 1st row end -->
        <div class="row">
            <div class="col-md-12">
                <div class="contact-desc">
                    <form  role="form"  [formGroup]="contactForm" (ngSubmit)="addContact(contactForm.value)" >
                        <div class="row">
                            <div class="col-md-4 wow fadeInLeft" data-wow-delay=".2s">
                                <div class="form-group">
                                    <label> Name</label>
                                    <input class="form-control"  formControlName="name" id="name" name="name" placeholder="name" type="text" required>
                                    <span class="text-danger" *ngIf="(contactForm.get('name').hasError('required')) && (contactForm.get('name').touched)">Please Fill Your Name</span>
                                    <!--<span class="text-danger" *ngIf="(contactForm.get('name').hasError('maxLength')) && (contactForm.get('name').touched)">Must be under 100 characters</span>-->
                                </div>
                            </div>

                            <div class="col-md-4 wow fadeInDown" data-wow-delay=".5s">
                                <div class="form-group">
                                    <label> Email</label>
                                    <input class="form-control"  formControlName="email_address" id="email_address"  name="email_address" placeholder="email" type="text" required>
                                    <span class="text-danger" *ngIf="(contactForm.get('email_address').hasError('required')) && (contactForm.get('email_address').touched)">Please Fill Your Email</span>
                                    <!--<span class="text-danger" *ngIf="(contactForm.get('email_address').hasError('maxLength')) && (contactForm.get('email_address').touched)">Must be under 100 characters</span>-->
                                    <span class="text-danger" *ngIf="(!(contactForm.get('email_address').hasError('required')) && contactForm.get('email_address').hasError('email')) && (contactForm.get('email_address').touched)">Please Enter Valid Email.</span>
                                </div>
                            </div>

                            <div class="col-md-4 wow fadeInRight" data-wow-delay=".8s">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input class="form-control" formControlName="subject" id="subject"  name="subject" placeholder="subject" type="text">
                                    <span class="text-danger" *ngIf="(contactForm.get('subject').hasError('required')) && (contactForm.get('subject').touched)">Please Fill Subject</span>
                                    <!--<span class="text-danger" *ngIf="(contactForm.get('subject').hasError('maxLength')) && (contactForm.get('subject').touched)">Must be under 150 characters</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 wow fadeInUp" data-wow-delay="1.1s">
                                <div class="form-group">
                                    <label > Message</label>
                                    <textarea cols="30" rows="10" formControlName="message" id="message"  name="message" class="form-control"  placeholder="message"></textarea>
                                    <span class="text-danger" *ngIf="(contactForm.get('message').hasError('required')) && (contactForm.get('message').touched)">Please Fill Message</span>
                                    <!--<span class="text-danger" *ngIf="(contactForm.get('message').hasError('maxLength')) && (contactForm.get('message').touched)">Must be under 255 characters</span>-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 wow fadeInUp" data-wow-delay="1.3s">
                                <div class="text-left  m20">
                                    <button class="btn btn-white" [disabled]="!(contactForm.valid)">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <span class="col-md-12 wow fadeInUp alert alert-success" *ngIf="successMessage" data-wow-delay="1.1s">
                                <div class="text-center">Your Message Successfully Sent</div>
                            </span>
                        </div>
                    </form>
                </div>
            </div> <!-- col-md-6 end -->
        </div> <!-- row end -->
    </div> <!-- container end -->
</section>
<!-- section contact end -->
