<!-- main slider start -->
<section id="slider" class="slider">
    <div class="overlay"></div>
    <div id="main-slide" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators visible-lg visible-md">
            <li data-target="#main-slide" data-slide-to="0" class="active"></li>
            <li data-target="#main-slide" data-slide-to="1"></li>
            <li data-target="#main-slide" data-slide-to="2"></li>
        </ol><!--/ Indicators end-->

        <!-- Carousel inner -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="../assets/images/slider/bg1.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <div class="slider-text italic">
                            <h2 class="animated2">Welcome to BARRIER </h2>
                            <h3 class="animated3">We are your ultimate choice to lead a way</h3>
                            <h5 class="animated6">lets introduce</h5>
                            <a href="#service" class="animated4 page-scroll" ><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div><!--/ Carousel item end -->

            <div class="item">
                <img class="img-responsive" src="../assets/images/slider/bg2.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12 text-center">
                        <h2 class="animated4"> We are Concern</h2>
                        <h3 class="animated5">About continous Help</h3>
                        <h5 class="animated2">lets introduce</h5>
                        <a href="#service" class="animated6 page-scroll"><i class="fa fa-angle-down"> </i></a>
                    </div>
                </div>
            </div><!--/ Carousel item end -->

            <div class="item">
                <img class="img-responsive" src="../assets/images/slider/bg3.jpg" alt="slider">
                <div class="slider-content">
                    <div class="col-md-12">
                        <div class="slider-text">
                            <h2 class="animated7">We Offer our Clients</h2>
                            <h3 class="animated8">An Expert level service</h3>
                        </div>
                        <div class="slider-smalltext animated4">
                            <div class="slider-small-text-content">
                                <h4 class="wow animated slideInRight" data-wow-delay=".5s">
                                    A Fresh Approch /
                                </h4>
                                <h4 class="wow animated slideInRight" data-wow-delay=".7s">
                                    Proper Value of Money /
                                </h4>
                                <h4 class="wow animated slideInRight" data-wow-delay="1.1s">
                                    Right Solution /
                                </h4>
                                <h4 class="wow animated slideInRight" data-wow-delay="1.3s">
                                    Taking Time to Care
                                </h4>
                            </div>
                        </div>
                        <a href="#service" class="animated6 page-scroll"><i class="fa fa-angle-down"> </i></a>
                    </div>
                </div>
            </div><!--/ Carousel item end -->
        </div><!-- Carousel inner end-->

        <!-- Controllers -->
        <a class="left carousel-control" href="#main-slide" data-slide="prev">
            <span><i class="fa fa-angle-left"></i></span>
        </a>
        <a class="right carousel-control" href="#main-slide" data-slide="next">
            <span><i class="fa fa-angle-right"></i></span>
        </a>
    </div><!--/ Carousel end -->

</section>
<!-- main slider end -->
<!-- Service section Start -->

<section id="services" class="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-desc text-center">
                    <div class="header-content">
                        <h3 class="big-title">Services</h3>
                        <span>what i do</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla omnis eos pariatur quidem at alias rerum tempora. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".2s">
                <div class="service-desc">
                    <div class="icon-box color">
                        <i class="icon icon-tablet"></i>
                    </div>
                    <div class="service-content ">
                        <h4>Responsive Web design</h4>
                        <span>Desktop, laptop,mobile view</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vitae. Earum libero repellat excepturi in, deserunt, hic voluptatem placeat tenetur neque ullam sit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".5s">
                <div class="service-desc">
                    <div class="icon-box color">
                        <i class="icon icon-desktop"></i>
                    </div>
                    <div class="service-content">
                        <h4>Web development</h4>
                        <span>Desktop, laptop,mobile view</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vitae. Earum libero repellat excepturi in, deserunt, hic voluptatem placeat tenetur neque ullam sit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay=".8s">
                <div class="service-desc">
                    <div class="icon-box color">
                        <i class="icon icon-tools"></i>
                    </div>
                    <div class="service-content">
                        <h4>graphics design</h4>
                        <span>Desktop, laptop,mobile view</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vitae. Earum libero repellat excepturi in, deserunt, hic voluptatem placeat tenetur neque ullam sit.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="1.1s">
                <div class="service-desc">
                    <div class="icon-box color">
                        <i class="icon icon-puzzle"></i>
                    </div>
                    <div class="service-content">
                        <h4> Socail marketing</h4>
                        <span>Desktop, laptop,mobile view</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vitae. Earum libero repellat excepturi in, deserunt, hic voluptatem placeat tenetur neque ullam sit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="1.4s">
                <div class="service-desc">
                    <div class="icon-box color">
                        <i class="icon icon-megaphone"></i>
                    </div>
                    <div class="service-content">
                        <h4> Online marketing</h4>
                        <span>Desktop, laptop,mobile view</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vitae. Earum libero repellat excepturi in, deserunt, hic voluptatem placeat tenetur neque ullam sit.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-delay="1.8s">
                <div class="service-desc">
                    <div class="icon-box color">
                        <i class="icon icon-basket "></i>
                    </div>
                    <div class="service-content">
                        <h4> Barnding </h4>
                        <span>Desktop, laptop,mobile view</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, vitae. Earum libero repellat excepturi in, deserunt, hic voluptatem placeat tenetur neque ullam sit.</p>
                    </div>
                </div>
            </div>
        </div> <!-- row end -->
    </div> <!-- container end -->
</section>
<!-- Service section End -->
<!-- Work process start -->

<section id="process" class="process parallax2">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sub-heading text-center">
                    <h4 >Our working process</h4>
                    <div class="line"></div>
                    <p>simply we follow these process</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="process-desc">
                    <div class="process-timeline"></div>
                    <div class="process-none text-center">
                        <div >
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <h4>concept</h4>
                    </div>
                    <div class="single-process text-center">
                        <div class="process-icon">
                            <i class="fa fa-pencil"></i>
                        </div>
                        <h4>Sketch</h4>
                    </div>

                    <div class="single-process text-center">
                        <div class="process-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <h4>Design</h4>
                    </div>
                    <div class="single-process text-center">
                        <div class="process-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <h4>Code</h4>
                    </div>
                    <div class="single-process text-center">
                        <div class="process-icon">
                            <i class="fa fa-flask"></i>
                        </div>
                        <h4>Test</h4>
                    </div>
                    <div class="single-process text-center">
                        <div class="process-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <h4>launch</h4>
                    </div>
                </div>
            </div>
        </div> <!-- row end -->
    </div>
</section>
<!-- Work process end -->

<!-- features quality start -->
<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-desc text-center">
                    <div class="header-content">
                        <h3 class="big-title">Features</h3>
                        <span>how dedicated i am</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla omnis eos pariatur quidem at alias rerum tempora. </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 wow fadeInLeft" data-wow-delay=".4s">
                <div class="feature-img">
                    <img src="../assets/images/feature.png" alt="" class="img-responsive">
                </div>
            </div>

            <div class="col-md-6">
                <div class="main-fetaure">
                    <div class="feature-desc wow fadeInRight" data-wow-delay=".2s">
                        <div class="feature-icon"><i class="icon icon-wallet"></i></div>
                        <div class="feature-content">
                            <h4> Realaible and secure platform </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti possimus unde aliquam, reprehenderit assumenda commodi eligendi obcaecati.</p>
                        </div>
                    </div>
                    <div class="feature-desc wow fadeInRight" data-wow-delay=".4s">
                        <div class="feature-icon"><i class="icon icon-flag"></i></div>
                        <div class="feature-content">
                            <h4> Fresh and Clean</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti possimus unde aliquam, reprehenderit assumenda commodi eligendi obcaecati.</p>
                        </div>
                    </div>
                    <div class="feature-desc wow fadeInRight" data-wow-delay=".8s">
                        <div class="feature-icon"><i class="icon icon-adjustments "></i></div>
                        <div class="feature-content">
                            <h4> Easy to customize</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti possimus unde aliquam, reprehenderit assumenda commodi eligendi obcaecati.</p>
                        </div>
                    </div>
                    <div class="feature-desc wow fadeInRight" data-wow-delay="1.1s">
                        <div class="feature-icon"><i class="icon icon-hourglass"></i></div>
                        <div class="feature-content">
                            <h4> Rapid Customer support </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti possimus unde aliquam, reprehenderit assumenda commodi eligendi obcaecati.</p>
                        </div>
                    </div>
                </div> <!-- main feature end -->
            </div> <!-- col-md-8 end -->
        </div> <!-- row end -->
    </div> <!-- conatainer end -->
</section>
<!-- features quality end -->
<!-- Section work start -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-desc text-center">
                    <div class="header-content">
                        <h3 class="big-title">projects</h3>
                        <span>creative work sample</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla omnis eos pariatur quidem at alias rerum tempora. </p>
                </div>
            </div>
            <div class='row wow fadeInUp'>
                <div class='col-lg-12'>
                    <div class="carousel slide" id="portfolio-carousel">
                        <div class="carousel-inner">
                            <div class="item  active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg1.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>Creative Vision</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio1.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg2.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>Sunlight Shine</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio2.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg3.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>All Quiet Western</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio3.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg1.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>The GodFather</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio4.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                </div>
                            </div><!--/ Item active end -->
                            <div class="item">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg1.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>Creative Vision</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio5.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg1.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>Creative Vision</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio6.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg1.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>Creative Vision</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio7.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                        <div class="thumbnail">
                                            <div class="caption">
                                                <div class="caption-content">
											    	<span>
														<a data-rel="prettyPhoto" href="../assets/images/portfolio/portfolio-bg1.jpg">
														    <i class="fa fa-search"></i>
														</a>
											        	<a href="#" class=""><i class="fa fa-link"></i></a>
											        </span>
                                                    <h3>Creative Vision</h3>
                                                    <p>Effektive is more than your average agency.</p>
                                                </div>
                                            </div>
                                            <img src="../assets/images/portfolio/portfolio8.jpg" alt="portfolio">
                                        </div>
                                    </div>
                                </div>
                            </div><!--/ Item end -->
                        </div><!-- Carousel inner end -->

                        <div class="barrier-carousel-controller">
                            <a data-slide="prev" href="#portfolio-carousel" class="left"><i class="fa fa-chevron-left"></i></a>
                            <a data-slide="next" href="#portfolio-carousel" class="right"><i class="fa fa-chevron-right"></i></a>
                        </div><!-- Controller end -->
                    </div><!-- Carousel end -->
                </div><!-- Main Col end -->
            </div><!--/  row end -->
        </div><!--/ Main row end -->
    </div><!--/ Container end -->
</section>
<!-- section portfolio end-->
<!-- video background section start -->

<section id="video" class="hero landing hero-section">
    <div class="video-background-container">
        <video preload="auto" autoplay loop muted class="video-background">
            <source type="video/mp4" src="../assets/videos/google.mp4" />
            <source type="video/ogg" src="../assets/videos/google.ogv" />
            <source type="video/webm" src="../assets/videos/google.webm" />
        </video>
    </div>

    <div class="parallax-overlay"></div>

    <div class="container">
        <div class="hero-content text-center">
            <div class="hero-text" >
                <h2 class="hero-title">Are you intrested ? want to get more !</h2>
                <p class="hero-description">Mauris hendrerit eros ac ferment sodales</p>
                <button class="btn btn-primary page-scroll"> Get in Touch</button>
            </div><!--/ Hero text end -->
        </div><!--/ Hero content end -->
    </div><!--/ Container end -->
</section><!--/ Home end -->

<!-- video background section end -->

<!--About us angular component start-->
<about-us></about-us>
<!--About us angular component end-->

<!-- Counter start -->
<section id="counter-area">
    <div class="container">
        <div class="facts">
            <div class="col-md-3 col-xs-12 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="icon-box"><i class="fa fa-thumbs-o-up fw"></i></div>
                    <div class="fact-content">
                        <h6>Clients</h6>
                        <div class="facts-wrap-num">
                            <span class="counter">876</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="icon-box"><i class="fa fa-gift fw"></i></div>
                    <div class="fact-content">
                        <h6>Awards</h6>
                        <div class="facts-wrap-num"><span class="counter"> 275</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="icon-box"><i class="fa fa-check-square-o fw"></i></div>
                    <div class="fact-content">
                        <h6>Projects</h6>
                        <div class="facts-wrap-num"><span class="counter">658</span></div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-6 columns">
                <div class="facts-wrap">
                    <div class="icon-box"><i class="fa fa-envelope-o fw"></i></div>
                    <div class="fact-content">
                        <h6>Mails</h6>
                        <div class="facts-wrap-num"><span class="counter">469</span></div>
                    </div>
                </div>
            </div>
        </div> <!-- Conatainer End -->
    </div>	<!-- Fact div ENd -->
</section>
<!-- Counter end -->
<!-- section pricing start -->

<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-desc text-center">
                    <div class="header-content">
                        <h3 class="big-title">Pricing</h3>
                        <span>how dedicated i am</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla omnis eos pariatur quidem at alias rerum tempora. </p>
                </div>
            </div>
        </div> <!-- 1st row end -->

        <div class="row">
            <div class="pricing-desc">
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".4s">
                    <div class="panel panel-default panel-pricing">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Starter</h3>
                            <p class="plan">&#163; 64</p>
                        </div>
                        <div class="panel-body  text-left">
                            <ul class="plan-desc">
                                <li> responsive design</li>
                                <li> crossbrowser support</li>
                                <li> Jquery plugin support</li>
                                <li> Creative design</li>
                                <li> Much more ..</li>
                            </ul>
                        </div>
                        <div class="panel-footer text-center">
                            <button class="btn btn-black">Buy Now </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay=".8s">
                    <div class="panel panel-default panel-pricing">
                        <div class="panel-heading featured text-center">
                            <h3 class="panel-title">Designer</h3>
                            <p class="plan">&#163; 94</p>
                        </div>
                        <div class="panel-body">
                            <ul class="plan-desc">
                                <li> responsive design</li>
                                <li> crossbrowser support</li>
                                <li> Jquery plugin support</li>
                                <li> Creative design</li>
                                <li> Much more ..</li>
                            </ul>
                        </div>

                        <div class="panel-footer text-center">
                            <button class="btn btn-black">Buy Now </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="1.1s">
                    <div class="panel panel-default panel-pricing">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Developer</h3>
                            <p class="plan">&#163; 74</p>
                        </div>
                        <div class="panel-body">
                            <ul class="plan-desc">
                                <li> responsive design</li>
                                <li> crossbrowser support</li>
                                <li> Jquery plugin support</li>
                                <li> Creative design</li>
                                <li> Much more ..</li>
                            </ul>
                        </div>

                        <div class="panel-footer text-center">
                            <button class="btn btn-black">Buy Now </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="1.3s">
                    <div class="panel panel-default panel-pricing">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Speaker</h3>
                            <p class="plan">&#163; 84</p>
                        </div>
                        <div class="panel-body">
                            <ul class="plan-desc">
                                <li> responsive design</li>
                                <li> crossbrowser support</li>
                                <li> Jquery plugin support</li>
                                <li> Creative design</li>
                                <li> Much more ..</li>
                            </ul>
                        </div>

                        <div class="panel-footer text-center">
                            <button class="btn btn-black">Buy Now </button>
                        </div>
                    </div>
                </div>

            </div>
        </div> <!-- row end -->
    </div> <!-- conatiner end -->
</section>
<!-- section pricing end -->
<!-- Section testimonial start -->
<section id="testimonial" class="parallax1">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">
            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators visible-lg visible-md">
                    <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                    <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                </ol><!--/ Indicators end-->

                <div class="carousel-inner">
                    <div class="item active text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testimonial-thumb">
                                    <img src="../assets/images/team/team1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="testimonial-content">
                                    <p>Officiis blanditiis, tempore, distinctio assumenda fugiat quaerat ea a rem est debitis quo harum corporis, labore eligendi natus quidem. Non, illum, ipsa.Fugiat quaerat ea a rem est debitis quo harum corporis, labore eligendi natus quidem. Non, illum, ipsa.</p>
                                    <h3>Jimmi Carter</h3>
                                    <span>Web excutive-company name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testimonial-thumb">
                                    <img src="../assets/images/team/team2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="testimonial-content">
                                    <p>Officiis blanditiis, tempore, distinctio assumenda fugiat quaerat ea a rem est debitis quo harum corporis, labore eligendi natus quidem. Non, illum, ipsa.Fugiat quaerat ea a rem est debitis quo harum corporis, labore eligendi natus quidem. Non, illum, ipsa.</p>
                                    <h3>Jimmi Carter</h3>
                                    <span>Web excutive-company name</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="testimonial-thumb">
                                    <img src="../assets/images/team/team1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="testimonial-content">
                                    <p>Officiis blanditiis, tempore, distinctio assumenda fugiat quaerat ea a rem est debitis quo harum corporis, labore eligendi natus quidem. Non, illum, ipsa.Fugiat quaerat ea a rem est debitis quo harum corporis, labore eligendi natus quidem. Non, illum, ipsa.</p>
                                    <h3>Jimmi Carter</h3>
                                    <span>Web excutive-company name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- testimonial-carousel end -->
        </div> <!-- row end -->
    </div> <!-- container end -->
</section>
<!-- Section testimonial end -->
<!-- section blog start -->
<section id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-desc text-center">
                    <div class="header-content">
                        <h3 class="big-title">Blog</h3>
                        <span>my online dairy</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nulla omnis eos pariatur quidem at alias rerum tempora. </p>
                </div>
            </div>
        </div> <!-- 1st row end -->

        <div class="row">
            <div class="blog-single">
                <div class="col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="blog-desc">
                        <img src="../assets/images/blog/blog1.jpg" alt="" class="img-responsive">
                        <div class="blog-overlay">
                            <a class="blink" href="#"><i class="fa fa-link"></i></a>
                            <a class="bsearch" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-content">
                        <h4 class="blog-title">Qui nulla omnis eos pariatur</h4>
                        <div class="blog-meta">
                            <span> 29 januray 2020</span>
                            <span><i class="fa fa-user"></i> Mark astler</span>
                            <span class="pull-right"><i class="fa fa-comments"></i> 35 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laudantium, ad facilis natus, cum at nesciunt enim, veniam qui illum mollitia non voluptatem, modi. Natus culpa molestias tempora qui expedita.</p>
                        <div class="blog-social m20">
                            <h4>Share it :</h4>
                            <ul class="socail-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook wow fadeInLeft" data-wow-delay=".2s"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter wow fadeInLeft" data-wow-delay=".4s"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus wow fadeInLeft" data-wow-delay=".6s"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin wow fadeInLeft" data-wow-delay=".8s"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble wow fadeInLeft" data-wow-delay="1s"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss wow fadeInLeft" data-wow-delay="1.1s"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
        <div class="m40"></div>
        <div class="row">
            <div class="blog-single">
                <div class="col-md-6 wow fadeInUp" data-wow-delay=".2s">
                    <div class="blog-desc">
                        <img src="../assets/images/blog/blog2.jpg" alt="" class="img-responsive">
                        <div class="blog-overlay">
                            <a class="blink" href="#"><i class="fa fa-link"></i></a>
                            <a class="bsearch" href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="blog-content">
                        <h4 class="blog-title">Qui nulla omnis eos pariatur</h4>
                        <div class="blog-meta">
                            <span> 29 januray 2020</span>
                            <span><i class="fa fa-user"></i> Mark astler</span>
                            <span class="pull-right"><i class="fa fa-comments"></i> 35 comments</span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam laudantium, ad facilis natus, cum at nesciunt enim, veniam qui illum mollitia non voluptatem, modi. Natus culpa molestias tempora qui expedita.</p>
                        <div class="blog-social m20">
                            <h4>Share it :</h4>
                            <ul class="socail-list list-inline">
                                <li><a href="#"><i class="fa fa-facebook wow fadeInLeft" data-wow-delay=".2s"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter wow fadeInLeft" data-wow-delay=".4s"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus wow fadeInLeft" data-wow-delay=".6s"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin wow fadeInLeft" data-wow-delay=".8s"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble wow fadeInLeft" data-wow-delay="1s"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss wow fadeInLeft" data-wow-delay="1.1s"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row end -->
    </div> <!-- container end -->
</section>
<!-- section blog end -->
<!-- Clent section start -->
<section id="client">
    <div class="container">
        <div class="row">
            <div class="header-desc text-center">
                <h2>Clients</h2>
                <h5>our respectables clients</h5>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="client-desc text-center">
                <ul class="list-inline">
                    <li><a href="#"><img src="../assets/images/client/client1.png" alt="" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../assets/images/client/client2.png" alt="" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../assets/images/client/client3.png" alt="" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../assets/images/client/client4.png" alt="" class="img-responsive"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="btm-client text-center">
                <ul class="list-inline">
                    <li><a href="#"><img src="../assets/images/client/client1.png" alt="" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../assets/images/client/client2.png" alt="" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../assets/images/client/client3.png" alt="" class="img-responsive"></a></li>
                    <li><a href="#"><img src="../assets/images/client/client4.png" alt="" class="img-responsive"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Clent section end -->

<!-- section contact start -->
<contact></contact>
<!-- section contact end -->

<!-- Map start here -->
<section id="map-wrapper" class="no-padding">
    <div class="container">
        <div class="contact-info-inner wow fadeInUp">
            <h3>Contact Info</h3>
            <div><i class="fa fa-map-marker pull-left"></i>
                <p><strong>Address</strong>Her Majesty The Queen, <br>Buckingham Palace, London, SW1A 1AA</p>
            </div>
            <div><i class="fa fa-phone pull-left"></i>
                <p><strong>Phone</strong>+(0207) 766-7300</p>
            </div>
            <div><i class="fa fa-envelope-o pull-left"></i>
                <p><strong>Email</strong>info@hrh.co.uk</p>
            </div>
            <div><i class="fa fa-compass pull-left"></i>
                <p><strong>Office Hours</strong>Mon - Friday, 9:30 - 4:40</p>
            </div>

        </div>
    </div>
    <div class="map" id="map"></div>
</section><!--/ Map end here -->
<!-- footer component start -->
<footer-content></footer-content>
<!-- footer component end -->
